<div class="flex flex-column min-h-screen" style="background-color: #f0fdf4;">
  <app-header></app-header>
  
  <div class="flex flex-grow-1" style="padding-top: 80px">
    
    @if (showSidebar) {
      <app-sidebar></app-sidebar>
    }

    <main class="flex-grow-1 transition-all transition-duration-300" 
          [ngClass]="{
            'md:ml-15rem': showSidebar && layoutService.isSidebarExpanded(),
            'md:ml-5rem': showSidebar && !layoutService.isSidebarExpanded()
          }">
      <router-outlet></router-outlet>
    </main>

  </div>
  
  <app-footer></app-footer>
</div>